

#block1 {
         display: block;
         background-color: rgb(196, 196, 196);
         height: 100vh;
         width: 320px;
         position: fixed;
         top: 0px;
         left: 0px;
         z-index: -1;}
         

#line1 {
         display: block;
         background-color: rgb(224, 224, 224);
         height: 4px;
         width: 320px;
         position: absolute;
         top: 80px;
         left: 0px;
         z-index: 1;
}

#line2 {
         display: block;
         background-color: rgb(120, 0, 255);
         height: 4px;
         width: 75%;
         position: absolute;
         top: 80px;
         left: 320px;
         z-index: 0;
}

.style_input{
         width: 160px;
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #F6F6f6;
         border-radius: 8px;
}




     a {   text-decoration: none;
    color: black;}


.imgrostelecom_index{
        position:absolute;
         top: 0px;
         left: 20px
}

#position_index {
         position:absolute;
         top: 150px;
}


.imgrostelecombanner1_index{
        position:absolute;
         top: 320px;
         left: 340px;
         width: 500px;
         height: 300px;
}

.imgrostelecombanner2_index{
        position:absolute;
         top: 320px;
         left: 840px;
         width: 500px;
         height: 300px;
}
.imgrostelecombanner3_index{
        position:absolute;
         top: 620px;
         left: 340px;
         width: 1000px;
         height: 400px;
}
.table_info_index{
        position:absolute;
         top: 0px;
         left: 340px;
}

.div11_index {
         width: 1000px;
         height: 300px;
                position:absolute;
         top: 100px;
         left: 10px;
}
.td1_index{
       position:absolute;
         top: -10px;
         left: 60px;
}

.style_input3_index{
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #F6F6f6;
         border-radius: 8px;
         width: 280px;
         height: 30px;
    position: relative;
   	left: 10px;
   	top: 100px;

}

.style_input3_index:hover{
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #8A2BE2;
         border-radius: 8px;
         width: 280px;
         height: 30px;
    position: relative;
   	left: 10px;
   	top: 100px;

}

/*//////////////////////////////////////////////////////////////////////////////*/

   .h2_add {
   	position: relative;
   	left: 10px;
   	top: 100px;
   }
       .h111_add {
   	position: absolute;
   	left: 400px;
   	top: -10px;
   }
          .table1_add {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  border-collapse: collapse;
  color:black;
  position:absolute;
  top: 110px;
  left: 400px;}

     	   .h22_add {
   	position: absolute;
   	left: 10px;
   	top: 70px;
   }

   	   td {
   	position: relative;
   	left: 10px;
   	top: 10px;
   }

   .imgrostelecom_add{
        position:absolute;
         top: 0px;
         left: 20px
}
#position_add {
         position:absolute;
         top: 150px;
}




.td1_add1 {
  padding: 10px;
}
.td2_add2 {
  padding-right: 60px;
}
.td2_add3 {
  padding-right: 60px;
}
.td2_add4 {
  padding-right: 60px;
}
.td2_add5 {
  padding-right: 60px;
}


.style_input_add2{
         width: 160px;
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #F6F6f6;
         border-radius: 8px;
}
.style_input_add3{
         width: 160px;
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #F6F6f6;
         border-radius: 8px;
}
.style_input_add4{
         width: 160px;
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #F6F6f6;
         border-radius: 8px;

}
.style_input_add5{
         width: 160px;
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #F6F6f6;
         border-radius: 8px;
}



.tr1_add:nth-child(odd) {
  background: white;
}
.tr1_add:nth-child(even) {
  background: #E8E6D1;
}

.th1_add {
  border-bottom: 3px solid #B9B29F;
  padding: 10px;
  text-align: left;
}
.td1_add {
  padding: 10px;
}

.td2_add {
  padding-right: 60px;
}
.back_add{
         width: 100px;
         height: 15px;
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #F6F6f6;
         border-radius: 8px;
         position:absolute;
         top: 90px;
         left: -10px

}

.back_add:hover{
         width: 100px;
         height: 15px;
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #8A2BE2;
         border-radius: 8px;
         position:absolute;
         top: 90px;
         left: -10px

}


.style_input2_add{
         width: 284px;
         height: 50px;
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #F6F6f6;
         border-radius: 8px;
         position:absolute;
         top: 10px;

}

.style_input2_add:hover{
         width: 284px;
         height: 50px;
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #8A2BE2;
         border-radius: 8px;
         position:absolute;
         top: 10px;

}


 td {
   	position: relative;
   	left: 10px;
   	top: 10px;
   }

/*///////////////////////////////////////////////////*/

            .h111_outpopulate {
   	position: absolute;
   	left: 400px;
   	top: -10px;
   }
   #position1_outpopulate {
         position:absolute;
         top: 170px;
}
    .h22_outpopulate{
    position: absolute;
   	left: 10px;
   	top: 80px;
    }
    .style_input2_outpopulate {
             width: 284px;
         height: 50px;
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #F6F6f6;
         border-radius: 8px;
         position:absolute;
         top: 50px;
    }

        .style_input2_outpopulate:hover {
             width: 284px;
         height: 50px;
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #8A2BE2;
         border-radius: 8px;
         position:absolute;
         top: 50px;
    }
    .style_input1_outpopulate{
            width: 190px;
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #F6F6f6;
         border-radius: 8px;
    }
.back1_outpopulate{
         width: 100px;
         height: 15px;
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #F6F6f6;
         border-radius: 8px;
         position:absolute;
         top: 90px;
         left: 10px

}
.back1_outpopulate:hover{
         width: 100px;
         height: 15px;
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #8A2BE2;
         border-radius: 8px;
         position:absolute;
         top: 90px;
         left: 10px

}


       .table1_outpopulate {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  border-collapse: collapse;
  color:black;
  position:absolute;
  top: 110px;
  left: 400px;
}

.th1_outpopulate {
  border-bottom: 3px solid #B9B29F;
  padding: 10px;
  text-align: left;
}
.td1_outpopulate {
  padding: 10px;
}

.td2_outpopulate {
  padding-right: 60px;
}

.tr1_outpopulate:nth-child(odd) {
  background: white;
}

.tr1_outpopulate:nth-child(even) {
  background: #E8E6D1;
}


   .imgrostelecom_outpopulate{
        position:absolute;
         top: 0px;
         left: 20px
}

#position1_outpopulate {
         position:absolute;
         top: 150px;
}

.style_input_outpopulate{
         width: 160px;
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #F6F6f6;
         border-radius: 8px;
}

/*/////////////////////////////////////*/

    .table1_view {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  border-collapse: collapse;
  color: black;
  position:absolute;
  top: 110px;
  left: 400px;
}

.th1_view {
  border-bottom: 3px solid #B9B29F;
  padding: 10px;
  text-align: left;
}
.td1_view {
  padding: 10px;
}


#td2_view {
  padding-right: 60px;
}

#tr1_view:nth-child(odd) {
  background: white;
}
#tr1_view:nth-child(even) {
  background: #E8E6D1;
}

    .h111_view {
   	position: absolute;
   	left: 400px;
   	top: -10px;
   }

.style_input4_view{
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #F6F6f6;
         border-radius: 8px;
         width: 100px;
         height: 15px;
    position: absolute;
   	left: 20px;
   	top: 120px;
   }
.style_input4_view:hover{
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #8A2BE2;
         border-radius: 8px;
         width: 100px;
         height: 15px;
    position: absolute;
   	left: 20px;
   	top: 120px;
   }

      .imgrostelecom_view{
        position:absolute;
         top: 0px;
         left: 20px
}

/*//////////////////////////////////////*/
    .h22_delete{
    position: absolute;
   	left: 10px;
   	top: 80px;
    }
    .style_input2_delete {
             width: 284px;
         height: 50px;
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #F6F6f6;
         border-radius: 8px;
         position:absolute;
         top: 30px;
    }

       .style_input2_delete:hover {
         width: 284px;
         height: 50px;
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #8A2BE2;
         border-radius: 8px;
         position:absolute;
         top: 30px;
    }
    .style_input1_delete{
            width: 190px;
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #F6F6f6;
         border-radius: 8px;
    }
 .back1_delete{
         width: 100px;
         height: 15px;
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #F6F6f6;
         border-radius: 8px;
         position:absolute;
         top: 100px;
         left: 10px

}

 .back1_delete:hover{
         width: 100px;
         height: 15px;
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #8A2BE2;
         border-radius: 8px;
         position:absolute;
         top: 100px;
         left: 10px

}


#position1_delete {
         position:absolute;
         top: 170px;
}

   .table1_delete {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  border-collapse: collapse;
  color: black;
  position:absolute;
  top: 110px;
  left: 400px;
}

.th1_delete {
  border-bottom: 3px solid #B9B29F;
  padding: 10px;
  text-align: left;
}
.td1_delete {
  padding: 10px;
}

.td2_delete {
  padding-right: 60px;
}

.tr1_delete:nth-child(odd) {
  background: white;
}
.tr1_delete:nth-child(even) {
  background: #E8E6D1;
}
    .h111_delete {
   	position: absolute;
   	left: 400px;
   	top: -10px;
   }

      .imgrostelecom_delete{
        position:absolute;
         top: 0px;
         left: 20px
}

/*/////////////////////////////*/
            .h111_repopulate {
   	position: absolute;
   	left: 400px;
   	top: -10px;
   }
   #position1_repopulate {
         position:absolute;
         top: 170px;
}
    .h22_repopulate{
    position: absolute;
   	left: 10px;
   	top: 80px;
    }
    .style_input2_repopulate {
             width: 284px;
         height: 50px;
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #F6F6f6;
         border-radius: 8px;
         position:absolute;
         top: 170px;
                 left: 20px;
    }
        .style_input2_repopulate:hover{
             width: 284px;
         height: 50px;
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #8A2BE2;
         border-radius: 8px;
         position:absolute;
         top: 170px;
         left: 20px;
    }
    .style_input1_repopulate{
            width: 190px;
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #F6F6f6;
         border-radius: 8px;
    }
.back1_repopulate{
         width: 100px;
         height: 15px;
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #F6F6f6;
         border-radius: 8px;
         position:absolute;
         top: 100px;
         left: 10px

}
.back1_repopulate:hover{
         width: 100px;
         height: 15px;
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #8A2BE2;
         border-radius: 8px;
         position:absolute;
         top: 100px;
         left: 10px

}


       .table1_repopulate {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  border-collapse: collapse;
  color: black;
  position:absolute;
  top: 110px;
  left: 400px;
}

.th1_repopulate {
  border-bottom: 3px solid #B9B29F;
  padding: 10px;
  text-align: left;
}
.td1_repopulate {
  padding: 10px;
}

.td2_repopulate {
  padding-right: 60px;
}

.tr1_repopulate:nth-child(odd) {
  background: white;
}
.tr1_repopulate:nth-child(even) {
  background: #E8E6D1;
}

      .imgrostelecom_repopulate{
        position:absolute;
         top: 0px;
         left: 20px
}



.style_input_repopulate{
         width: 160px;
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #F6F6f6;
         border-radius: 8px;
}

/*/////////////*/
		.div11_delete_record {
		 position:relative;
         top: 200px;
         left: 350px;
         width: 700px;
         height: 200px;
                  display: block;
         background-color: rgb(196, 196, 196);
         border: solid;
         border-color: rgb(120, 0, 255)
		}

		    .style_input2_delete_record {
             width: 450px;
         height: 20px;
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #F6F6f6;
         border-radius: 8px;
         position:absolute;
         top: 100px;
         left: 80px;
         text-decoration: none;
    color: black;
    }
    .h333_delete_record {
		 position:relative;
         top: 40px;
         left: 50px;
}


		.div11_success {
		 position:relative;
         top: 200px;
         left: 350px;
         width: 700px;
         height: 200px;
                  display: block;
         background-color: rgb(196, 196, 196);
         border: solid;
         border-color: rgb(120, 0, 255)
		}

.h33333_success {
		 position:relative;
         top: 40px;
         left: 50px;

}



    .style_input2_success {
             width: 400px;
         height: 20px;
         font-size: 13px;
         padding: 6px 0 4px 10px;
         border: 1px solid #cecece;
         background: #F6F6f6;
         border-radius: 8px;
         position:absolute;
         top: 100px;
                  left: 80px;
         text-decoration: none;
    color: black;
    }