<html>
<head>
  <title>Flask Home</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='style.css', v=174)}}">
  <style type="text/css">
  </style>
</head>
<body>

<div>
<div id="block1">
</div>
<div id="line1">
</div>
  <div id="line2">
</div>
<img src="{{ url_for('static', filename='PNG1.png') }}" alt="ops image" class="imgrostelecom_index">
<h2 class="h2_index">Главное Меню:</h2>
<h3 class="style_input3_index"><a href="/add">Добавить комнату</a></h3>
<h3 class="style_input3_index"><a href="/view">Комнаты</a></h3>
<h3 class="style_input3_index"><a href="/delete">Удалить</a></h3>
<h3 class="style_input3_index"><a href="/repopulate">Заселить</a></h3>
<h3 class="style_input3_index"><a href="/outpopulate">Выселить</a></h3>

</div>

<img src="{{ url_for('static', filename='PNG2.png') }}" alt="ops image" class="imgrostelecombanner1_index">
<img src="{{ url_for('static', filename='PNG3.png') }}" alt="ops image" class="imgrostelecombanner2_index">
<img src="{{ url_for('static', filename='PNG4.png') }}" alt="ops image" class="imgrostelecombanner3_index">

<table class="table_info_index" border="0">
    <thead>
      <td class="td1_index"><h1>Информация</h1></td>
    </thead>
    {% for row in rows %}
      <tr class="tr1">
         <td class="div11_index">{{row["info"]}}</td>
      </tr>
    {% endfor %}
</table>

<!--div class="oferta">
  <p><h4>Компания предоставляет специальные телевизоры отельной серии, который работают
от обычного пульта дистанционного управления.
В свою очередь отели воспроизведут не только телеканалы, но и клиентский контент.
«Ростелеком» обещает круглосуточную техническую поддержку, полный пакет услуг, что не требует
каких-либо проблем и усилий со стороны клиента.
Ничего сложного приложение из себя не представляет. Вы можете просто смотреть телеканалы, которые входят в ваш тарифный план. Пауза ставится с помощью одной кнопки — аналогичное можно сказать про запись передач и перемотку. Чтобы разобраться, как пользоваться таким функционалом, нужно открыть раздел «Настройки». Через этот же раздел ставится «Родительский контроль».
Если вы хотите приобрести на вечер кино, необходимо перейти в раздел «Видеопрокат». Это легальное кино — соответственно, в лучшем качестве.
Весь купленный, арендованный контент находится в категории «Мое». Сюда же попадают записи, которые вы, соответственно, записали.
Полезен будет и раздел «Сервисы». Через этот раздел можно получить доступ к социальным сетям, узнать погоду за окном, ознакомиться с загруженностью дорог в своем городе.
Многие пользователи приложения Смарт ТВ от Ростелеком опасаются, что непонятные подписки будут начислять задолженности на их лицевой счет. На самом деле, в меню всегда доступен для вас раздел «Управление услугами». Через него можно как подключить подписки, так и отключить их в любое желаемое время.</h4></p>
</div-->


</body>
</html>