<!DOCTYPE html>
<html>
<head>
    <title>record repopulate</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='style.css', v=516)}}">
    <style>


    </style>
</head>
<body>
    <br><h1 class="h111_repopulate">Свободный номерной фонд</h1>
<img src="{{ url_for('static', filename='PNG1.png') }}" alt="ops image" class="imgrostelecom_repopulate">
<div id="block1">
</div>
<div id="line1">
</div>
</div>
  <div id="line2">
</div>
  <h2 class="h22_repopulate">Заселение комнаты: </h2>

    <table>
	<tr><td><h2><a href="/" class="back1_repopulate">< Назад</a></h2></td></tr>
	</table>

<div id="position1_repopulate">
<form action="/updatedetails" method="post">
        <table>
    		<tr><td>Номер комнаты</td><td><input type="text" name="id_room" class="style_input_repopulate"></td></tr>
    	<tr><td>ФИО</td><td><input type="text" name="name" class="style_input_repopulate"></td></tr>
    	<tr><td>Почта</td><td><input type="email" name="email" class="style_input_repopulate"></td></tr>
    	<tr><td>Дата вселения</td><td><input type="text" name="StartDate" class="style_input_repopulate"></td></tr>
		<tr><td>Дата выселения</td><td><input type="text" name="EndDate" class="style_input_repopulate"></td></tr>
    <input type="submit" value="Заселить" class="style_input2_repopulate">
     </table>
</form>
</div>

<table border="0" class="table1_repopulate">
    <thead>
      <td class="td2_repopulate">Номер</td>
      <td class="td2_repopulate">ФИО</td>
      <td class="td2_repopulate">Эл. Почта</td>
      <td class="td2_repopulate">Дата вселения</td>
      <td class="td2_repopulate">Дата выселения</td>
    </thead>
    {% for row in rows %}
      <tr class="tr1_repopulate">
          <td class="td1_repopulate">{{row["id"]}}</td>
          <td class="td1_repopulate">{{row["name"]}}</td>
          <td class="td1_repopulate">{{row["email"]}}</td>
          <td class="td1_repopulate">{{row["StartDate"]}}</td>
          <td class="td1_repopulate">{{row["EndDate"]}}</td>
      </tr >
    {% endfor %}
</table>



</body>
</html>