<!DOCTYPE html>
<html>
<head>
    <title>List</title>
    <style>

    </style>
    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(64408387, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/64408387" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</head>
<body>

<h1>Список жильцов</h1>
<table>
    <thead>
      <td>Номер</td>
      <td>ФИО</td>
      <td>Эл. Почта</td>
      <td">Дата вселения</td>
      <td">Дата выселения</td>
    </thead>
    {% for row in rows %}
      <tr>
          <td>{{row["id_Territory"]}}</td>
      </tr>
    {% endfor %}
</table>
<br><br>


</body>
</html>